[phases.setup]
nixPkgs = ["python311", "playwright-driver.browsers"]

[phases.install]
cmds = [
    "pip install -r requirements.txt",
    "python -m playwright install chromium",
    "python -m playwright install-deps chromium"
]

[start]
cmd = "python main.py"
